/* Reset standaardstijlen */
h1 {
    display: flex;
    justify-content: center;
    font-size: 24px;
}

/* Basisstijlen */
html {
    width: 100%;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Headerstijlen */
header {
    background-image: url("img/backgroundwallpaper.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    padding: 50px;
    margin: 0;
}

.site-header .site-title {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 0;
    position: relative;
    z-index: 1;
}

/* Navigatiestijlen */
.menu {
    display: flex;
    justify-content: center;
}

.main-navigation ul {
    list-style: none;
}

.main-navigation li {
    display: inline-block;
    margin-right: 20px;
}

.main-navigation li a {
    color: #333333;
    text-decoration: none;
}

/* Hoofdinhoudsstijlen */
.site-content {
    margin-bottom: 40px;
}

/* Footerstijlen */
.site-footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

.site-footer a {
    color: #333333;
    text-decoration: none;
}